header {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  align-items: center;
  width: 100%;
  background-color: rgba(248, 249, 249, 0.9);
}

.headerDistanceRight {
  position: absolute;
  right:32px;
}

.headerlinks {
  color: rgba(19, 79, 92, 1);
  gap: 16px;
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 8px 0px 8px 0px;
  position: sticky;

  a {
    color: rgba(19, 79, 92, 1);

    &:hover {
      font-weight: 600;
    }
  }
}

.slideshow {
  position: absolute;
    top: 32px;
    left: 32px;
    color: rgba(19, 79, 92, 1);

    &:hover {
      font-weight: 600;
    }
}

.logo {
  height: 120px;
}

.translationButtons {
  top: 32px;
  color: rgba(19, 79, 92, 1);
  &:hover {
    scale: (1.1);
  }
}

 .dNone {
  display: none !important;
 }

 .bold {
  font-weight: bold;
 }

.active {
  font-weight: bold;
  color: rgba(19, 79, 92, 1);
}

#divider {
width: 100%;
background-color:rgb(19, 79, 92) ;
height: 2px;
margin-top: 16px;
}

#headerLinkContainerMobile {
  padding: 32px 16px 0px 16px;
  position: fixed;
  width: 210px;
  left: 0px;
  top: 0px;
  bottom: 0px;
  background-color: rgb(19, 79, 92); 
  transition: 1s ease-in-out; 
  z-index:99;

  a {
    color: rgb(192, 187, 187);
    padding: 16px;

    &:hover {
      color:white;
    }
  }
  
}

#burgerMenu {
  display: none;
  top: 104px;

  .burger-icon {
    .bar {
      transition: height 0.3s ease;
    }
  }
  
  &:hover {
    .burger-icon {
      cursor: pointer;
      .bar {
        height: 15px; 
      }
    }
  }
}

.mobileNav {
  display: flex;
  justify-content: flex-end;
  padding: 2px;
  img {
    cursor: pointer;
    &:hover {
      box-shadow: rgba(255, 255, 255, 0.2) 0px 7px 29px 0px;
  }
}
}

.easeIn {
  transform: translateX(0); 
}

.easeOut {
  transform: translateX(-300px) !important; 
}

.mobileLinks {
  display: flex;
  flex-direction: column;
}


@media (max-width: 1000px) {
  .headerlinks {
    color: white;
    gap: 8px;
  }
}

@media (max-width: 800px) {
  .dNone800 {
    display: none;
  }
  #burgerMenu {
    display: flex;
  }

  .headerDistanceRight {
    right:20px;
  }
}

@media (max-width: 400px) {
  header {
    align-items: flex-start;
  
    img {
      padding-left: 20px;
    }
  }

  .slideshow {
    display: none;
  }
}
