header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 220px;
    width: 100%;
    background-color: rgb(19, 79, 92);
  }
  
  .headerlinks {
    color: white;
    gap: 16px;
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 8px 0px 8px 0px;
    position: sticky;

     a {
        color: rgb(192, 187, 187);

        &:hover {
            font-weight: 600;
        }
     }
  }
  
  .logo {
    height: 120px;
  }

  .translationButtons {
    position: absolute;
    top: 32px;
    right:32px;
    color: white;
    &:hover {
        scale: (1.1);
    }
  }


  #mobileMenu {
    display: none;
     padding-top: 32px;
     position: absolute;
     left: 0px;
     top:0px;
     bottom:0px;
     background-color: rgb(19, 79, 92);
  
      a {
          color: rgb(192, 187, 187);;
          padding: 16px; 
      }
    }
  
    
    .mobileMenuContainer {
      width: 200px;
      color: white;
      display: flex;
      flex-direction: column;
      color: white;
      gap: 16px;
    }
  
    .active {
      font-weight: bold;
      color: white !important; 
    }
    