.slideshowContainer {
    height: 100vh;
    width: 100vw;
    max-width:100%;
    overflow: hidden;
}

.slideshowImage {
    height: 100vh;
    width: 100vw;
    max-width:100%;
    object-fit: cover;
    animation: zoomIn 5s ease infinite;
}

@keyframes zoomIn {
    from {
transform: scale(1);
    }
    to {
transform: scale(1.2);
    }
}

.slideshowOverlay {
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    top:0;
    display: flex;
    align-items: center;
    cursor: pointer;

    p{
        color: white;
        font-size: 80px;
        font-family: 'Dancing Script';
        max-width: 300px;
        border-left: solid 4px rgb(153,150,100);
        padding-left: 24px;
        margin-left: 120px;
    }
}

.fadeIn {
    animation: fadeInAnimation 1s ease-in-out;
}

@keyframes fadeInAnimation {
    from {
    opacity:0;
    transform: translateY(20px);
    }
    to {
        opacity:1;
        transform: translateY(0);
    }
}

@media(max-width:500px) {
    .slideshowOverlay {
  
        p{
            margin-left: 60px;
        }
    }
}

@media(max-width:400px) {
    .slideshowOverlay {
  
        p{
            font-size: 60px;
            max-width: 200px;
            margin-left: 30px;
        }
    }
}
