<app-header></app-header>
<section>
  <h1 translate>Contact</h1>
  <div class="contactContent">
      <div class="contactText">
          <h2 translate>Contact us!</h2>
          <p translate>
            If you have an interesting story to publish...
          </p>
          <p translate>
            If you need one of our services...
          </p>
          <p translate>
            If you have thoughts or ideas...
          </p>
          <p translate>
            If our stories touch you...
          </p>
          <p translate>
            We like to hear all!
          </p>
    
      </div>
      <div class="contactForm">
        <form #contactForm (submit)="sendMail($event)" ngNativeValidate>
        <label translate>Name</label>
          <input translate placeholder="Name" class="alignCenter" type="text" name="name" #nameField (input)="checkInputFields($event)" />
          <div *ngIf='showNameAlert' class="alert" translate>Your name is required</div>
        
          <label translate>Email Address</label>
          <input translate placeholder="Email" class="alignCenter" type="email" name="email" #emailField (input)="checkInputFields($event)" />
          <div *ngIf="showEmailAlert" class="alert" translate>A valid email address is required</div>
        
          <label translate>Message</label>
          <textarea translate placeholder="Message" name="message" #messageField (input)="checkInputFields($event)"></textarea>
          <div *ngIf="showMessageAlert" class="alert" translate>Your message is empty</div>
        
          <div id="privacyContainer">
            <div #privacyContainerBox id="privacyContainerBox" (click)="checkPrivacy()"></div>
            <p translate>I've read the <a routerLink="/privacy-policy" translate>privacy policy</a> and agree to the progressing of my data as outlined.</p>
          </div>
          
          <div #privacyAlert class="alert" *ngIf="showPrivacyAlert" translate>Please accept the privacy policy</div>
          <input type="hidden" name="newsletter" #newsletter value="0">
          <button type="submit" #sendButton [disabled]="!privacyChecked">{{sendMessage | translate}}</button>
        </form>
      </div>
  </div>   
  <div class="siteNavBottom">
    <a class="navLink" routerLink="/" translate >Back to Homepage</a>
  </div>
</section>
<app-footer></app-footer>
<app-scroll-to-top-button></app-scroll-to-top-button>

