<app-header></app-header>
<section>
  <h1 translate
  id="childrensBooksElement0"
    [@slideInFromLeft]="this.pageService.getElementState('childrensBooksElement0')">Children's Books</h1>
  <h3 translate
  id="childrensBooksElement1"
    [@slideInFromLeft]="this.pageService.getElementState('childrensBooksElement1')">Currently German books only</h3>
    <span translate>All books are available as eBook, paperback, and hardcover.</span> <br>
    <span translate>Print versions are also available in bookstores.</span> <br>

    <div class="searchContainer">
      <input
        [(ngModel)]="pageService.searchTerm"
        (keyup.enter)="pageService.searchBook()"
        placeholder="Titel"
      />
      <button (click)="pageService.searchBook()">Go</button>
    </div>
  <div class="siteNavTop"
  id="childrensBooksElement2"
    [@slideInFromLeft]="this.pageService.getElementState('childrensBooksElement2')">
    <a
      *ngFor="let section of childrensBooks let i = index"
      (click)="this.pageService.scrollToSection(section.section)"
      translate
      >{{ section.title }}</a
    >
  </div>
  <div *ngFor="let section of childrensBooks; let i = index">
    <div
      [id]="section.section"
      [@slideInFromLeft]="this.pageService.getElementState(section.section)"
    >
      <h2 translate>
        {{ section.title }}
      </h2>
      <h4 class="clickCoverInfo" translate>Click on cover for more info</h4>
    </div>
    <div class="bookContainerWrap">
      <div
        class="bookContainer"
        *ngFor="let book of section.books; let j = index"
      >
        <img
          [src]="book.image"
          alt="Book Image"
          (click)="this.pageService.showOverlay(book)"
          [id]="book.id"
          [@slideInFromLeft]="
            this.pageService.getElementState(book.id)
          "
        />
        <div
          class="bookContainerText dNone500"
          [id]="'ContainerText' + book.id"
          [@fadeIn]="
            this.pageService.getElementState('ContainerText' + book.id)
          "
        >
          <div *ngFor="let paragraph of book.paragraphs">
            <p>{{ paragraph }}</p>
          </div>
          <div class="bookLinksContainer">
            <span translate>Available at: </span>
            <div class="bookLinks">
              <div *ngFor="let format of this.pageService.getBookFormats(book); let last = last">
                <ng-container *ngIf="!last">
                  <a [href]="format.link" target="_blank" translate>{{ format.label }}</a>
                  <span class="dNone863"> - </span>
                </ng-container>
                <ng-container *ngIf="last">
                  <a [href]="format.link" target="_blank" translate>{{ format.label }}</a>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="siteNavBottom">
    <a class="navLink" routerLink="/" translate >Back to Homepage</a>
  </div>
</section>

  <div *ngIf="this.pageService.selectedBook" id="overlay">
    <div id="overlayCloseButton" class="closeX" (click)="this.pageService.closeOverlay(this.pageService.selectedBook.id)">X</div>
    <div class="overlayBox">
      <img [src]="this.pageService.selectedBook.image" alt="Book Image" (contextmenu)="this.pageService.preventRightClick($event)" />
      <div class="overlayRight">
          <div *ngFor="let paragraph of this.pageService.selectedBook.paragraphs">
            <p>{{ paragraph }}</p>
          </div>
      </div>
    </div>
    <div class="overlayBottom">
      <div class="bookLinksContainer">
        <span translate>Available as: </span>
        <div class="bookLinks">
          <div *ngFor="let format of this.pageService.getBookFormats(this.pageService.selectedBook); let last = last">
            <ng-container *ngIf="!last">
              <a [href]="format.link" target="_blank" translate>{{ format.label }}</a>
              <span class="dNone863"> - </span>
            </ng-container>
            <ng-container *ngIf="last">
              <a [href]="format.link" target="_blank" translate>{{ format.label }}</a>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>

<app-footer></app-footer>
<app-scroll-to-top-button></app-scroll-to-top-button>