<app-header></app-header>
<section>
  <h1 translate>Background of The Spirit Chapters</h1>
  <h5 translate>Bree Nan's page</h5>
  <p translate>
    This site is dedicated to the world of the Spirit Chapters - all those
    details that would have made the appendix to long to read. Please be aware
    that this may include spoilers! If you rather read the books first, go here:
    <a target="_blank" href="https://mybook.to/SpiritChase">Spirit Chase</a>,
    <a target="_blank" href="https://mybook.to/SpiritChant">Spirit Chant</a>,
    <a target="_blank" href="https://mybook.to/SpiritCircle">Spirit Circle</a>.
  </p>

  <div class="siteNavTop">
    <table>
      <tr>
        <td><a (click)="scrollToSection('rulers')" translate>Rulers</a></td>
        <td>
          <a (click)="scrollToSection('colors')" translate>Colors of emotions</a>
        </td>
      </tr>
      <tr>
        <td>
          <a (click)="scrollToSection('formsSpirits')" translate>Forms of spirits </a>
        </td>
        <td>
          <a (click)="scrollToSection('')" translate>Forms of essence</a>
        </td>
      </tr>
      <tr>
        <td>
          <a (click)="scrollToSection('extreme')" translate>Extreme forms of feeding</a>
        </td>
        <td>
          <a (click)="scrollToSection('jewels')" translate>The four sister jewels</a>
        </td>
      </tr>
      <tr>
        <td>
          <a (click)="scrollToSection('symbols')" translate>Witches’ Symbols</a>
        </td>
        <td>
          <a (click)="scrollToSection('addresses')" translate>Special addresses</a>
        </td>
      </tr>
      <tr>
        <td>
          <a (click)="scrollToSection('witchesPowers')" translate>Witches’ powers</a>
        </td>
        <td>
          <a (click)="scrollToSection('spells')" translate>Spells</a>
        </td>
      </tr>
      <tr>
        <td>
          <a (click)="scrollToSection('hunterPowers')" translate>Witch hunters' powers</a>
        </td>
        <td>
          <a (click)="scrollToSection('sacredWords')" translate>Sacred words of the chasteners</a>
        </td>
      </tr>
      <tr>
        <td>
          <a (click)="scrollToSection('procreation')" translate>Spirit procreation and upbringing</a></td>
        <td><a (click)="scrollToSection('personage')" translate>Personage</a></td>
      </tr>
    </table>

    
  </div>
  <div id="organization">
    <h3 translate>
      The Organization of the Spirit Chapters, based on Robert Plutchik's Wheel
      of Emotion:
    </h3>
    <img
      src="assets/img/spirits/circle-of-spirit-chapters.png"
      alt="spirit circle"
    />
  </div>
  <div id="ruler">
    <h3 translate>Rulers</h3>
    <ul>
      <li translate>Incubi/succubae – Lord Lust</li>
      <li translate>Gods – Lady Love</li>
      <li translate>Reapers – Lady Fear</li>
      <li translate>Fairies – Lord Daze</li>
      <li translate>Ghosts – Lady Sorrow</li>
      <li translate>Devils – Lady Hate</li>
      <li translate>Poltergeists – Lord Ire</li>
      <li translate>Angels – Lord Care</li>
    </ul>
  </div>
  <div id="homes">
    <h3 translate>Homes</h3>
    <ul>
      <li translate>Incubi/succubae – abode</li>
      <li translate>Gods – realm</li>
      <li translate>Reapers – house</li>
      <li translate>Fairies – land</li>
      <li translate>Ghosts – yard</li>
      <li translate>Devils – hell</li>
      <li translate>Poltergeists – field</li>
      <li translate>Angels – heaven</li>
    </ul>
  </div>
  <div id="colors">
    <h3 translate>Homes</h3>
    <ul>
      <li translate>Joy/ecstasy – orange yellow</li>
      <li translate>Admiration – green</li>
      <li translate>Terror – olive</li>
      <li translate>Amazement – turquoise</li>
      <li translate>Grief – dark blue</li>
      <li translate>Loathing – violet</li>
      <li translate>Anger – blood red</li>
      <li translate>Vigilance – rose</li>
    </ul>
    <div id="colorText">
      <p translate>
        Colors of human emotion are more intense than spirits’ emotion. Enticing
        sparkles. Spirits can feel essence and whether someone is producing it
        or taking it in, but they cannot see. Shades can tell spirits apart by
        the color of the essence when they consume.
      </p>
      <p translate>
        Witches can tell spirits apart by the color of their aura. Witches’
        auras resemble the color of their associated chapter infused with white
        streaks. Human auras are a translucent white. Witch hunters have no aura
        at all.
      </p>
      <p translate>
        Humans see pure essence (essence that has been consumed by the spirits
        and his used by them for several causes) as a bright light. For this
        reason, spirits cannot fight with unknowing humans around – they are
        under the direct orders of the lords and ladies and physically unable to
        do go against. Witches and knowing humans, however, are not an issue.
      </p>
    </div>
  </div>
  <div id="formsSpirits">
    <h3 translate>Forms of spirits</h3>
    <ul>
      <li translate>Original form</li>
      <li translate>Cloaking</li>
      <li translate>Glamour</li>
      <li translate>Possession</li>
      <li translate>(Summoning)</li>
    </ul>
  </div>
  <div id="extreme">
    <h3 translate>Extreme forms of feeding</h3>
    <ul>
      <li translate>Incubi/succubae – orgy</li>
      <li translate>Gods – frenzy</li>
      <li translate>Reapers – nightmare</li>
      <li translate>Fairies – dream</li>
      <li translate>Ghosts – wailing</li>
      <li translate>Devils – repulse</li>
      <li translate>Poltergeists – rage</li>
      <li translate>Angels – trance</li>
    </ul>
  </div>
  <div id="formsEssence">
    <h3 translate>Forms of essence</h3>
    <ul>
      <li translate>Original (natural) form</li>
      <li translate>Human essence (tinged by emotions)</li>
      <li translate>Pure essence (spirit form)</li>
      <li translate>Magic (witches’ form)/li></li>
    </ul>
  </div>
  <div id="addresses">
    <h3 translate>Special addresses</h3>
    <ul>
      <li translate>
        Mistress / Master: a title of honor, mostly among spirits
      </li>
      <li translate>
        Madame / Maestro: the title for a witch working with humans
      </li>
      <li translate>Madam / Sir: a title of honor for head witches</li>
    </ul>
  </div>
  <div id="jewels">
    <h3 translate>The four Sister Jewels</h3>
    <div>
      <h4 translate>Gemma ardore: Jewel of Fire/Love/Animation - RED</h4>
      <ul>
        <li translate>giving energy/li>
        <li translate>was shattered in the hope of giving the shades freedom, causing the second curse (cachexia)</li>
      </ul>
    </div>
    <div>
      <h4 translate>Gemma lustro: Jewel of Lust/Shine/Cleanse - GOLDEN</h4>
      <ul>
        <li translate>taking energy/li>
        <li translate>was stolen and hidden by Aphrodite, first Lady Lust</li>
      </ul>
    </div>
    <div>
      <h4 translate>Gemma quiete: Jewel of Calm/Peace/Neutrality - SILVER</h4>
      <ul>
        <li translate>building bonds</li>
        <li translate>was shattered, causing the first curse (amnesia)</li>
      </ul>
    </div>
    <div>
      <h4 translate>Gemma damno: Jewel of Loss/ Hurt/Punishment - BLUE</h4>
      <ul>
        <li translate>ending bonds</li>
        <li translate>was lost and hidden by the devils</li>
      </ul>
    </div>    
  </div>
  <div id="symbols">
    <img src="assets/img/spirits/symbols-beschriftet.png" alt="spirit symbols"/>
  </div>
  <div id="witchesPowers">
    <h3 translate>Witches’ powers</h3>
    <ul>
      <li translate>Seeing cloaked spirits</li>
      <li translate>Able to wield pure essence derived from a spirit</li>
      <li translate>Able to cook up potions or make charmed objects with the help of said essence</li>
      <li translate>Incantations to conjure things/spirits/secrets (divining)</li>
      <li translate>Rituals of cleansing and healing using charged objects or helpful spirits</li>
      <li translate>Spells and wards with chanting, using stored essence or helpful spirits</li>
    </ul>
  </div>
  <div id="spells">
    <h3 translate>Spells</h3>
    <ul>
      <li translate>Sanate – heal</li>
      <li translate>Quaerite – search</li>
      <li translate>Reperite – hrepair</li>
      <li translate>Aperire – reveal, disclose</li>
      <li translate>Augescere – rise, grow</li>
      <li translate>Evanescere – disappear</li>
      <li translate>Apparere – appear</li>
    </ul>
  </div>
  <div id="hunterPowers">
    <h3 translate>Witch hunters' Powers</h3>
    <p translate>Witch hunters are immune against all kinds of magic – meaning they can see beyond the cloak, too, and cannot be bound or sworn to secrecy. They can nullify magic, returning witches’ essence back to the natural form.</p>
    <p translate><i>Purging</i> is the passive form for negating magic that is directed at them and does not need anything.</p>
    <p translate><i>Chastening</i> is the active form for magic that is directed elsewhere. It needs incantations to uncover the magic and then picking it apart, releasing it to its natural state.</p>
  </div>
  <div id="sacredWords">
    <h3 translate>Sacred words of the chasteners</h3>
    <p translate>The first, to unveil: <i>revelo</i>.</p>
    <p translate>The second, to chasten: <i>corripio</i>.</p>
  </div>
  <div id="procreation">
    <h3 translate>Procreation and upbringing of spirits</h3>
    <p translate>Spirits are created instantly via an immense amount of essence and sexual intercourse between a male and a female. Parents might not make it, either because the amount of essence is too great, their bodies too weak, or the distribution of power between them to unequal. For example: The twins’ parents did not survive their creation because the power was too great, even though they were both strong, but the amount of essence was too much. Leila’s mother, however, did not survive because Louan was more powerful than her.</p>
    <p translate>Enticement comes with age: very small children cannot do it. The ability and amount grow as they grow older, but the real enticement starts when they hit puberty. Thus, they depend on older spirits to care for their feeding.</p>
    <p translate>Spirits enter puberty around the age of fourteen and finish by sixteen. Incubi enter training at age fourteen and finish with sixteen. Afterwards, they are considered adults.</p>
  </div>
<div id="personage">
  <h3 translate>Personage</h3>
  <i>In order of appearance</i>
  <table>
    <tr>
      <th>Name</th>
      <th translate>Description</th>
    </tr>
    <tr>
      <td>Lior</td>
      <td translate>Incubus, twin of Louan, grandson of Asmode, nephew of Lilith. Called Li by friends</td>
    </tr>
    <tr>
      <td>Louan</td>
      <td translate>Incubus, twin of Lior, grandson of Asmode, nephew of Lilith. Called Lou by friends</td>
    </tr>
    <tr>
      <td>Cameo "Cami"</td>
      <td translate>A shade, mix of angel and fairy</td>
    </tr>
    <tr>
      <td>Asmode</td>
      <td translate>Lord Lust, ruler of incubi and succubae. Also called lord of joy</td>
    </tr>
    <tr>
      <td>Crescenzo</td>
      <td translate>	
        Incubus, in charge of Asmode’s treasures</td>
    </tr>
    <tr>
      <td>Dionysus</td>
      <td translate>Incubus, eldest</td>
    </tr>
    <tr>
      <td>Justus</td>
      <td translate>Incubus, formerly in charge of Asmode’s treasures, deceased</td>
    </tr>
    <tr>
      <td>Lilith</td>
      <td translate>Succubus, of Justus’s essence, aunt to the twins</td>
    </tr>
    <tr>
      <td>Myron</td>
      <td translate>Incubus, in charge of decorations</td>
    </tr>
    <tr>
      <td>Tanguy</td>
      <td translate>Rare mixed spirit: reaper and incubus</td>
    </tr>
    <tr>
      <td>Ahava</td>
      <td translate>Succubus, friend of Lilith</td>
    </tr>
    <tr>
      <td>Lady Fear</td>
      <td translate>Lady of the House of Terror (ruler of the reapers)</td>
    </tr>
    <tr>
      <td>Arthur Evans</td>
      <td translate>Male witch, associated with the devils</td>
    </tr>
    <tr>
      <td>Blaize</td>
      <td translate>Devil, son of Lady Hate. Obsessed with Lilith</td>
    </tr>
    <tr>
      <td>Lady Hate</td>
      <td translate>Ruler of the devils</td>
    </tr>
    <tr>
      <td>Madame Zelda Andeo</td>
      <td translate>Witch, associated with the angels</td>
    </tr>
    <tr>
      <td>Granny Andeo</td>
      <td translate>Witch, head of the Andeo family, grandmother of Zelda and Hector, former friend of Charlotte Ravi, associated with the angels</td>
    </tr>
    <tr>
      <td>Hector Andeo</td>
      <td translate>Male witch, grandson of Granny Andeo, associated with the angels</td>
    </tr>
    <tr>
      <td>Knight Cole</td>
      <td translate>Sole heir of a billionaire</td>
    </tr>
    <tr>
      <td>Madeline “Maddie” Lavea Smith/Ravi</td>
      <td translate>Orphaned witch, twin of Benny, associated with incubi/succubae</td>
    </tr>
    <tr>
      <td>Benjamin “Benny” Oliver Smith/Ravi</td>
      <td translate>Orphaned witch, twin of Maddie, associated with incubi/succubae</td>
    </tr>
    <tr>
      <td>Charlotte Ravi</td>
      <td translate>former head of the Ravi family, friend of Granny Andeo, deceased</td>
    </tr>
    <tr>
      <td>Madame Amelia Verra</td>
      <td translate>dud of the Verra family of witches, acts as a medium</td>
    </tr>
    <tr>
      <td>Stella</td>
      <td translate>Angel that bonded with the shade Helios, deceased</td>
    </tr>
    <tr>
      <td>Helios</td>
      <td translate>Shade that bonded with the angel Stella, deceased</td>
    </tr>
    <tr>
      <td>Judge Rabia / Lord Ire</td>
      <td translate>Ruler of the poltergeists</td>
    </tr>
    <tr>
      <td>Aphrodite</td>
      <td translate>First Lady Lust, deceased</td>
    </tr>
    <tr>
      <td>Evelyn “Evie” Graham</td>
      <td translate>Human girl that was possessed by Louan</td>
    </tr>
    <tr>
      <td>Misty Moore</td>
      <td translate>Maddie’s alias at the boot camp</td>
    </tr>
    <tr>
      <td>Johnny Cash</td>
      <td translate>Louan’s alias at the boot camp</td>
    </tr>
    <tr>
      <td>Umbra</td>
      <td translate>Healer of the shades</td>
    </tr>
    <tr>
      <td>Mr. Leonard Jr.</td>
      <td translate>Knight Cole’s lawyer</td>
    </tr>
    <tr>
      <td>Mrs. Chen</td>
      <td translate>Housekeeper at the Cole estate</td>
    </tr>
    <tr>
      <td>Gloria Lee</td>
      <td translate>Arthur’s wife, potential witch hunter</td>
    </tr>
    <tr>
      <td>Hausmann family</td>
      <td translate>Witching family known for their ability to create magical devices, died out, inheritance went to the Ravis</td>
    </tr>
    <tr>
      <td>Grace Evans</td>
      <td translate>Head witch of Arthur’s family</td>
    </tr>
    <tr>
      <td>Rose Evans alias Rose Lily Lee</td>
      <td translate>Daughter of Arthur and Gloria, sometimes called Rosie by Chris</td>
    </tr>
    <tr>
      <td>Christopher “Chris”</td>
      <td translate>Foundling spirit, supposedly a fairy</td>
    </tr>
    <tr>
      <td>Kell</td>
      <td translate>Fairy, foster father of Chris</td>
    </tr>
    <tr>
      <td>Charlotte “Lottie” Ravi</td>
      <td translate>Maddie’s firstborn</td>
    </tr>
    <tr>
      <td>Paula Donato</td>
      <td translate>Head of Donato family, witches associated with the chapter of joy</td>
    </tr>
    <tr>
      <td>Evan</td>
      <td translate>Rose’s brother</td>
    </tr>
    <tr>
      <td>Rigel</td>
      <td translate>Rose’s distant cousin, witch hunter</td>
    </tr>
    <tr>
      <td>William “Bill” Ury</td>
      <td translate>Rigel’s father, distant uncle of Rose, figurehead of the family</td>
    </tr>
    <tr>
      <td>Grayson “Gray” Ury</td>
      <td translate>Another distant cousin of Rose</td>
    </tr>
    <tr>
      <td>Josie Ury</td>
      <td translate>Grayson’s sister</td>
    </tr>
    <tr>
      <td>Joe Ury</td>
      <td translate>Bill’s brother, head of the family, living reclused</td>
    </tr>
    <tr>
      <td>Mrs. Schuler</td>
      <td translate>former schoolteacher of Joe and Bill Ury</td>
    </tr>
    <tr>
      <td>Jerry Ury</td>
      <td translate>Distant cousin of Joe’s and Bill’s mother, deceased</td>
    </tr>
    <tr>
      <td>John Ury</td>
      <td translate>Younger sibling of Joe and Bill</td>
    </tr>
    <tr>
      <td>Doctor Jennings</td>
      <td translate>physician at the county hospital</td>
    </tr>
  </table>
<table>
  <tr>
    <th>Name</th>
    <th translate>Description</th>
  </tr>
  <tr *ngFor="let character of characters">
    <td>{{ character.name }}</td>
    <td translate>{{ character.description }}</td>
  </tr>
</table>

</div>

  <div class="siteNavBottom">
    <a class="navLink" routerLink="/" translate>Back to Homepage</a>
    <a class="navLink" routerLink="/authors" translate>Back to Authors</a>
    <a class="navLink" routerLink="/english-books" translate>Back to English Stories</a>
  </div>
</section>
<app-footer></app-footer>
<app-scroll-to-top-button></app-scroll-to-top-button>
