<app-header></app-header>
<section>
  <h1
    id="mainElement0"
    translate
    [@fadeIn]="this.pageService.getElementState('mainElement0') || 'visible'"
  >
    What is Anderland Books?
  </h1>
  <div
    id="mainElement1"
    class="homepageContent"
    [@fadeIn]="this.pageService.getElementState('mainElement1') || 'visible'"
  >
    <p translate>
      Anderland Books is a tiny publisher. We love the unusal stories, a little
      quaint, full of imagination and empathy.
    </p>
    <img src="assets/img/logo-typewriter.png" alt="old typewriter" />
  </div>
  <h2
    id="mainElement2"
    translate
    [@fadeIn]="this.pageService.getElementState('mainElement2') || 'visible'"
  >
    What does Anderland Books offer?
  </h2>
  <div
    id="mainElement3"
    class="homepageContent"
    [@fadeIn]="this.pageService.getElementState('mainElement3') || 'visible'"
  >
    <img src="assets/img/family-book.png" alt="open book" />
    <p translate>
      Anderland Books publishes selected books, offers translation from English
      into German for independent authors, formatting of German and English
      manuscripts, as well as proofreading of German manuscripts.
    </p>
  </div>
  <h2
    id="mainElement4"
    translate
    [@fadeIn]="this.pageService.getElementState('mainElement4') || 'visible'"
  >
    Philosophy
  </h2>
  <div
    id="mainElement5"
    class="homepageContent"
    [@fadeIn]="this.pageService.getElementState('mainElement5') || 'visible'"
  >
    <p translate>
      We don't want to get rich. Yes, we have bills to pay too, but basically we
      are about publishing and sharing special stories. We want to use the
      experience we have gained so far to help others. Good stories are our
      passion.
    </p>
    <img src="assets/img/omas-typewriter.png" alt="old typewriter" />
  </div>
  <h2
    id="mainElement6"
    translate
    [@fadeIn]="this.pageService.getElementState('mainElement6') || 'visible'"
  >
    Where can I get the books?
  </h2>
  <div
    id="mainElement7"
    class="homepageContent"
    [@fadeIn]="this.pageService.getElementState('mainElement7') || 'visible'"
  >
    <img src="assets/img/laptop.png" alt="laptop and smartphone" />
    <p translate>
      All our books are available on Amazon as ebook, paperback, and
      hardcover.<br />
      Most ebooks are also available through platforms such as Apple, Google,
      Smashwords, tolino etc.<br />
      Paperback editions of English books can be found at all distribution channels served by Ingram, including Barnes and Noble and most independent bookstores in the US.<br />
      Printed German books are available via Tredition and can be ordered by
      German bookstores (mainly hardcover editions).<br />
      Selected books are also available as audiobooks.<br />
      The German book 'Der Geist in Brand' was voiced by Max Müller.<br><br>
      Direct links to the stores can be found next to the respective book:<br />
      <a routerLink="/english-books" translate routerLinkActive="active"
        >English Stories</a
      >
      <br />
      <a routerLink="/german-books" translate routerLinkActive="active"
        >German Stories</a
      ><br />
      <a routerLink="/childrens-books" translate routerLinkActive="active"
        >Children's Books</a
      >
    </p>
  </div>
    <h2
    id="mainElement8"
    translate
    [@fadeIn]="this.pageService.getElementState('mainElement8') || 'visible'"
  >
    Who are the authors?
  </h2>
  <div
    id="mainElement9"
    class="homepageContent"
    [@fadeIn]="this.pageService.getElementState('mainElement9') || 'visible'"
  >
    <div>
    <p translate>All our authors are introduced with a small bio and their books on our
      <a routerLink="/authors" translate routerLinkActive="active"
        >author page</a
      >.
      <br /></p>
      <p translate>Or find them directly via the shortlinks:<br>
      <a [routerLink]="['/authors']" fragment="anna"translate routerLinkActive="active"
        >Anna K. Thomas</a
      ><br />
      <a [routerLink]="['/authors']" fragment="bree"translate routerLinkActive="active"
        >Bree Nan</a
      ><br />
      <a [routerLink]="['/authors']" fragment="lotte"translate routerLinkActive="active"
        >Lotte Liesbeth</a
      ><br />
      <a [routerLink]="['/authors']" fragment="robert"translate routerLinkActive="active"
        >Robert T. Hunting</a
      ><br />
      <a [routerLink]="['/authors']" fragment="sigrid"translate routerLinkActive="active"
        >Sigrid E. Thomas</a
      ><br />
      <a [routerLink]="['/authors']" fragment="tanja"translate routerLinkActive="active"
        >Tanja Trögele</a
      ><br />
    </p>
  </div>   
  <img src="assets/img/author.png" alt="pot of coffee on a sheet next to someone scribbling in a notebook" /></div>

</section>
<app-footer></app-footer>
<app-scroll-to-top-button></app-scroll-to-top-button>
