<app-header></app-header>
<section>
  <h1 translate>What is Anderland Books?</h1>
  <div class="homepageContent">
    <p translate>
      Anderland Books is a tiny publisher. We love the unusal stories, a little
      quaint, full of imagination and empathy.
    </p>
    <img src="assets/img/logo-typewriter.png" alt="old typewriter" />
  </div>
  <h2 translate>What does Anderland Books offer?</h2>
  <div class="homepageContent">
    <img src="assets/img/family-book.png" alt="open book" />
    <p translate>
      Anderland Books publishes selected books, offers translation from English
      into German for independent authors, formatting of German and English
      manuscripts, as well as proofreading of German manuscripts.
    </p>
  </div>
  <h2 translate>Philosophy</h2>
  <div class="homepageContent">
    <p translate>
      We don't want to get rich. Yes, we have bills to pay too, but basically we
      are about publishing and sharing special stories. We want to use the
      experience we have gained so far to help others. Good stories are our
      passion.
    </p>
    <img src="assets/img/omas-typewriter.png" alt="old typewriter" />
  </div>
  <h2 translate>How do I get to Anderland Books?</h2>
  <div class="homepageContent">
    <img src="assets/img/laptop.png" alt="laptop and smartphone" />
    <p translate>
      The easiest: Write an <a routerLink="/contact" translate routerLinkActive="active">email</a>. But we are also on
      <a href="https://twitter.com/Anderland_Books">Twitter</a>,
      <a href="https://www.facebook.com/anderlandbooks">Facebook</a>,
      <a href="https://www.instagram.com/anderlandbooks/">Instagram</a>,
      <a href="https://www.tiktok.com/@anderlandbooks?lang=de-DE">TikTok</a>
      and
      <a href="https://bookstodon.com/@anderlandbooks">Mastodon</a>
    </p>
  </div>
</section>
<app-footer></app-footer>
<app-scroll-to-top-button></app-scroll-to-top-button>
