<footer>
  <a
    target="_blank"
    class="navLink"
    href="https://www.facebook.com/anderlandbooks"
    ><img src="assets/img/icon/icons8-facebook-50.png" class="footerIcon" alt="Facebook logo"
  /></a>
  <a
    target="_blank"
    class="navLink"
    href="https://bookstodon.com/@anderlandbooks"
    ><img src="assets/img/icon/icons8-mastodon-48.png" class="footerIcon" alt="Mastodon logo"
  /></a>
  <a
    target="_blank"
    class="navLink"
    href="https://www.tiktok.com/@anderlandbooks?lang=de-DE"
    ><img src="assets/img/icon/brand-tiktok(1).png" class="footerIcon" alt="tiktok logo"
  /></a>
  <a
    target="_blank"
    class="navLink"
    href="https://bsky.app/profile/anderlandbooks.bsky.social"
    ><img src="assets/img/icon/brand-bluesky(2).png" class="footerIcon" alt="tiktok logo"
  /></a>
  <a
  target="_blank"
  class="navLink"
  href="https://www.instagram.com/anderlandbooks/"
  ><img src="assets/img/icon/icons8-instagram-50.png" class="footerIcon" alt="instagram logo"
/></a>
  <a target="_blank" class="navLink" href="https://twitter.com/Anderland_Books"
    ><img src="assets/img/icon/icons8-twitter-50.png" class="footerIcon" alt="Twitter logo"
  /></a>
  <a routerLink="/imprint" translate>Imprint</a>
</footer>
