<app-header></app-header>
<section>
<h1 translate>Imprint</h1>
<h2 translate>Information according to § 5 TMG</h2>
<p translate>Anne Eberhard</p>
<p translate>Anderland Books</p>
<p translate>Prühßstraße 24</p>
<p translate>12105 Berlin</p>
<p translate></p>
<h3 translate>Kontakt</h3>
<p translate>E-Mail: contact&#64;anderlandbooks.com</p>
<h3 translate>VAT-ID</h3>
<p translate>VAT-ID according to § 27 a Umsatzsteuergesetz: DE333419127</p>
<h3 translate>Editorially responsible</h3>
<p translate>Anne Eberhard</p>
<h3 translate>EU dispute resolution</h3>
<p translate>The European Commission provides a platform for online dispute resolution (ODR):</p>
<a href="https://ec.europa.eu/consumers/odr/.">https://ec.europa.eu/consumers/odr/.</a>
<p translate>You can find our e-mail address in the legal notice above.</p>
<h3 translate>Consumer dispute resolution/universal arbitration board</h3>
<p translate>We are not willing or obliged to participate in dispute resolution proceedings before a consumer arbitration board.
</p>
<p translate>Source:
    <a href="https://www.e-recht24.de">https://www.e-recht24.de</a>
</p>
<h2  translate>Terms of use</h2>
<h3 translate>1. Terms</h3>

<p translate>
  By accessing this Website, accessible from
  Anderland Books, you are agreeing to be bound
  by these Website Terms and Conditions of Use and agree that you are
  responsible for the agreement with any applicable local laws. If you disagree
  with any of these terms, you are prohibited from accessing this site. The
  materials contained in this Website are protected by copyright and trade mark
  law.
</p>

<h3 translate>2. Use License</h3>

<p translate>
  Permission is granted to temporarily download one copy of the materials on
  Anderland Books's Website for personal,
  non-commercial transitory viewing only. This is the grant of a license, not a
  transfer of title, and under this license you may not:
</p>

<ul>
  <li translate>modify or copy the materials;</li>
  <li translate>
    use the materials for any commercial purpose or for any public display;
  </li>
  <li translate>
    attempt to reverse engineer any software contained on
    Anderland Books's Website;
  </li>
  <li translate>
    remove any copyright or other proprietary notations from the materials; or
  </li>
  <li translate>
    transferring the materials to another person or "mirror" the materials on
    any other server.
  </li>
</ul>

<p translate>
  This will let Anderland Books to terminate
  upon violations of any of these restrictions. Upon termination, your viewing
  right will also be terminated and you should destroy any downloaded materials
  in your possession whether it is printed or electronic format. These Terms of
  Service has been created with the help of the
  <a href="https://www.termsofservicegenerator.net"
    >Terms Of Service Generator</a
  >.
</p>

<h3 translate>3. Disclaimer</h3>

<p translate>
  All the materials on Anderland Books's
  Website are provided "as is". Anderland Books
  makes no warranties, may it be expressed or implied, therefore negates all
  other warranties. Furthermore,
  Anderland Books does not make any
  representations concerning the accuracy or reliability of the use of the
  materials on its Website or otherwise relating to such materials or any sites
  linked to this Website.
</p>

<h3 translate>4. Limitations</h3>

<p translate>
    Anderland Books or its suppliers will not be
  hold accountable for any damages that will arise with the use or inability to
  use the materials on Anderland Books's
  Website, even if Anderland Books or an
  authorize representative of this Website has been notified, orally or written,
  of the possibility of such damage. Some jurisdiction does not allow
  limitations on implied warranties or limitations of liability for incidental
  damages, these limitations may not apply to you.
</p>

<h3 translate>5. Revisions and Errata</h3>

<p translate>
  The materials appearing on Anderland Books's
  Website may include technical, typographical, or photographic errors.
  Anderland Books will not promise that any of
  the materials in this Website are accurate, complete, or current.
  Anderland Books may change the materials
  contained on its Website at any time without notice.
  Anderland Books does not make any commitment
  to update the materials.
</p>

<h3 translate>6. Links</h3>

<p translate>
    Anderland Books has not reviewed all of the
  sites linked to its Website and is not responsible for the contents of any
  such linked site. The presence of any link does not imply endorsement by
  Anderland Books of the site. The use of any
  linked website is at the user's own risk.
</p>

<h3 translate>7. Site Terms of Use Modifications</h3>

<p translate>
  Anderland Books may revise these Terms of Use
  for its Website at any time without prior notice. By using this Website, you
  are agreeing to be bound by the current version of these Terms and Conditions
  of Use.
</p>

<h3 translate>8. Your Privacy</h3>

<p translate>Please read our <a routerLink="/privacy-policy" translate>Privacy Policy.</a>
</p>

<h3 translate>9. Governing Law</h3>

<p translate>
  Any claim related to Anderland Books's Website shall be governed by the laws of de without regards to its conflict of
  law provisions.
</p>
<h3 translate>Pictures and Icons</h3>
<a target="_blank" href="https://icons8.com/icon/6377/copyright">Copyright</a>
icon by <a target="_blank" href="https://icons8.com">Icons8</a>
<br>
<a target="_blank" href="https://icons8.com/icon/1iF9PyJ2Thzo/zuhause" translate>home</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
<br>
<a target="_blank" href="https://icons8.com/icon/5576/h%C3%A4kchen" translate>checkmark</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
<br><br>
<div class="siteNavBottom">
    <a class="navLink" routerLink="/" translate >Back to Homepage</a>
  </div>
</section>
<app-footer></app-footer>
<app-scroll-to-top-button></app-scroll-to-top-button>
