<app-header></app-header>
<section>
  <h1 translate>Services</h1>
  <p translate>
    Anderland Books offers translation from English into German for independent
    authors, formatting of German and English manuscripts, as well as
    proofreading of German manuscripts.
  </p>
  <div class="siteNavTop">
    <a (click)="scrollToSection('translations')">Translations</a>
    <a (click)="scrollToSection('formatting')">Formatting</a>
    <a (click)="scrollToSection('proofreading')"
      >Proofreading of German manuscripts</a
    >
  </div>
  <div id="translations" class="serviceContent">
    <img src="assets/img/paper-glasses.jpg" alt="paper and glasses" />
    <div class="serviceContentText">
      <h3 translate>
        Translation from English into German, corrected by a native German
        speaker
      </h3>
      <p translate>
        You have a story in English, published or not, and want to expand into
        other languages? Here's your chance to get an affordable translation
        corrected by a native German speaker. This services is only open for
        indie authors and tiny publishers. We do prose and poetry - ask us for
        prices.
      </p>
      <p translate class="red">
        You want an example of the translations done so far? Check out these:
      </p>
      <p>
        Alster Diamonds: <a href="https://mybook.to/AlsterDiamonds">English</a> vs. <a href="https://mybook.to/Alsterdiamanten">German</a>
      </p>
      <p>
        Base Means <a href="https://mybook.to/BaseMeans">English</a> vs.<a href="https://mybook.to/UnheiligeMittel">German</a>
      </p>
      <p>Dance the Wind: <a href="https://mybook.to/DanceTheWind">English</a> vs. <a href="https://amzn.eu/d/iJQMv80">German</a></p>
      <p class="red">
        Is it just a sentence you want to have checked? As long as it's just
        one, it is for free.
      </p>
    </div>
  </div>
  <div id="formatting" class="serviceContent">
    <div class="serviceContentText">
      <h3 translate>Formatting</h3>
      <p translate>
        You've written a wonderful story, but formatting is just not your thing?
        Yet, you want your manuscript to be perfect, or you even want to
        self-publish it - e-Book, paperback or hardcover? We can do this for you
        - page numbering, headers, indents, incorporation of pictures - let us
        know what you need and we will discuss prices.
      </p>
    </div>
    <img src="assets/img/laptop.jpg" alt="laptop" />
  </div>
  <div id="proofreading" class="serviceContent">
    <img src="assets/img/ancient-typewriter.jpg" alt="old typewriter" />
    <div class="serviceContentText">
      <h3 translate>Proofreading of German manuscripts</h3>
      <p translate>
        At some point, you simply become blind to your work - when you have
        written a text yourself, you no longer notice the small mistakes. We
        offer a comprehensive proofreading service for German manuscripts.
        Prices vary according to requirements. We deliver a track-changes and a
        clean version in MSWord.
      </p>
    </div>
    
  </div>
  <div class="siteNavBottom">
    <a class="navLink" routerLink="/main-page" translate >Back to Homepage</a>
  </div>
</section>
<app-footer></app-footer>
<app-scroll-to-top-button></app-scroll-to-top-button>
