<app-header></app-header>
<section>
  <h1 translate>Authors</h1>
  <p translate>You'll find stories and books of the following authors at Anderland Books:</p>
  <div class="siteNavTop">
    <a
    *ngFor="let author of authors"
    (click)="scrollToSection(author.name)"
    >{{ author.name }}</a>
  </div>
<br>
<div *ngFor="let author of authors">
    <h2 id="{{ author.name }}">{{ author.name }}</h2>
    <p *ngIf="author.language" translate>{{ author.language }}</p>
  
    <div *ngIf="author.paragraphs && author.paragraphs.length > 0">
      <p *ngFor="let paragraph of author.paragraphs" translate>{{ paragraph }}</p>
    </div>
  
    <div *ngIf="author.website">
      <p translate>Website of 
        <ng-container *ngIf="isExternalUrl(author.website); else internalLink">
          <a [href]="author.website" target="_blank">{{ author.name }}</a>
        </ng-container>
        <ng-template #internalLink>
          <a [routerLink]="[author.website]">{{ author.name }}</a>
        </ng-template>
      </p>
    </div>
    
  
    <div *ngIf="author.books && author.books.length > 0">
      <h3 translate>Books by {{ author.name }}</h3>
      <table>
        <thead *ngIf="author.hasTranslations">
          <tr>
            <th translate>Originals</th>
            <th translate>Translations</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let book of author.books">
            <td>
              <a [href]="book.link" target="_blank">{{ book.title }}</a> 
              <span *ngIf="book.description" translate> - {{ book.description }}</span>
            </td>
            <td *ngIf="book.translations && book.translations.length > 0" class="paddingLeft">
              <a [href]="book.translations[0].link" target="_blank">{{ book.translations[0].title }}</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <hr />
  </div>
  <div class="siteNavBottom">
    <a class="navLink" routerLink="/" translate >Back to Homepage</a>
  </div>
</section>
<app-footer></app-footer>
<app-scroll-to-top-button></app-scroll-to-top-button>
