<app-header></app-header>
<section>
  <h1
    id="authorElement0"
    translate
    [@fadeIn]="this.pageService.getElementState('authorElement0')"
    >
    Authors
  </h1>
  <p
    id="authorElement1"
    translate
    [@fadeIn]="this.pageService.getElementState('authorElement1')"
    >
    You'll find stories and books of the following authors at Anderland Books:
  </p>
  <div
    id="authorElement2"
    [@fadeIn]="this.pageService.getElementState('authorElement2')"
    class="siteNavTop"
    >
    @for (author of authors; track author) {
      <a (click)="scrollToSection(author.id)">{{
        author.name
      }}</a>
    }
  </div>
  <br />
  @for (author of authors; track author; let i = $index) {
    <div>
      <div
        [id]="'authorName' + i"
        [@fadeIn]="this.pageService.getElementState('authorName' + i)"
        >
        <h2 id="{{ author.id }}">{{ author.name }}</h2>
        @if (author.language) {
          <p translate>{{ author.language }}</p>
        }
        @if (author.paragraphs && author.paragraphs.length > 0) {
          <div>
            @for (paragraph of author.paragraphs; track paragraph) {
              <p translate>
                {{ paragraph }}
              </p>
            }
          </div>
        }
        @if (author.website) {
          <div>
            <p translate>
              Website of
              @if (isExternalUrl(author.website)) {
                <a [href]="author.website" target="_blank" rel="noopener noreferrer">{{ author.name }}</a>
              } @else {
                <a [routerLink]="[author.website]">{{ author.name }}</a>
              }
            </p>
          </div>
        }
      </div>
      @if (author.books && author.books.length > 0) {
        <div
          [id]="'authorBooks' + i"
          [@fadeIn]="this.pageService.getElementState('authorBooks' + i)"
          >
          <h3 translate>Books by {{ author.name }}</h3>
          <table>
            @if (author.hasTranslations) {
              <thead>
                <tr>
                  <th translate>Originals</th>
                  <th translate>Translations</th>
                </tr>
              </thead>
            }
            <tbody>
              @for (book of author.books; track book) {
                <tr>
                  <td>
                    <a [href]="book.link">{{ book.title }}</a>
                    @if (book.description) {
                      <span translate>
                        - {{ book.description }}</span
                        >
                      }
                    </td>
                    @if (book.translations && book.translations.length > 0) {
                      <td
                        class="paddingLeft"
                        >
                        <a [href]="book.translations[0].link">{{
                          book.translations[0].title
                        }}</a>
                      </td>
                    }
                  </tr>
                }
              </tbody>
            </table>
          </div>
        }
      </div>
    }
    <div class="siteNavBottom">
      <a class="navLink" routerLink="/" translate>Back to Homepage</a>
    </div>
  </section>
  <app-footer></app-footer>
  <app-scroll-to-top-button></app-scroll-to-top-button>
