body {
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

.dNone {
  display: none;
}

section {
    box-sizing: border-box;
    padding: 0 100px 0 100px;
    background-color: rgba(250, 250, 250, 0.2);
}

@media (max-width: 500px) {
  .dNone500 {
    display: none;
  }
}
